
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100vh;
    width: 100vw;
    background-image: url("https://img.cricketnmore.com/uploads/2021/09/what-to-expect-at-old-trafford-manchester-the-venue-for-5th-test-between-india-england.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
#main a{
    color: skyblue;
    text-decoration:none;
    font-weight: 100;
}
#white{
    height: 80%;
    width: 65%;
    position: absolute;
    overflow: hidden;
    top: 13%;
    left: 0;
    background-color: white;
    position: relative;
    animation: main-box 2s cubic-bezier(0.19, 1, 0.22, 1)  both;
    animation-delay: 0.1s;
}
@keyframes main-box{
    0%{
        left: -80%;
    }
    100%{
        left: 0;
        transform: rotateY(360deg);
    }
}

#column{
    /* background-color: black; */
    height: 80%;
    width: 15%;
    position: absolute;
    z-index: 2;
    top: 13%;
    left: 45%;

    
}

#column #one{
    width: 80%;
    height: 15%;
    background-image: linear-gradient(rgb(75, 75, 231),rgba(43, 43, 173, 0.582),rgb(75, 75, 231));
    margin-left: 10%;
    margin-bottom: 5%;
    
}
#column #two{
    width: 80%;
    height: 15%;
    background-image: linear-gradient(rgb(75, 75, 231),rgba(43, 43, 173, 0.582),rgb(75, 75, 231));  
      margin-left: 10%;
    margin-bottom: 5%;
    
}
#column #three{
    width: 80%;
    height: 15%;
    background-image: linear-gradient(rgb(75, 75, 231),rgba(43, 43, 173, 0.582),rgb(75, 75, 231));
    margin-left: 10%;
    margin-bottom: 5%;
    
}#column #four{
    width: 80%;
    height: 15%;
    background-image: linear-gradient(rgb(75, 75, 231),rgba(43, 43, 173, 0.582),rgb(75, 75, 231));
    margin-left: 10%;
    margin-bottom: 5%;
    
}
#column #five{
    width: 80%;
    height: 15%;
    background-image: linear-gradient(rgb(75, 75, 231),rgba(43, 43, 173, 0.582),rgb(75, 75, 231));
    margin-left: 10%;
    margin-bottom: 5%;
    
}
#column #six{
    width: 80%;
    height: 15%;
    background-image: linear-gradient(rgb(75, 75, 231),rgba(43, 43, 173, 0.582),rgb(75, 75, 231));
        margin-left: 10%;
    /* margin-bottom: 5%; */
    
}
#column .box{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: j 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s 1 both;
}
@keyframes j{
    0%{
        bottom: -100%;
        left: 45%;
    }
    100%{
        top: 13%;
        left: 45%;
    }
}
#blue{
    background-image: linear-gradient(rgb(176, 176, 255),white);
    height: 80%;
    width: 40%;
    position: absolute;
    top: 13%;
    left: 3%;

}
#blue2{
    background-image: linear-gradient(rgba(120, 120, 247, 0.541),rgba(0, 204, 255, 0.096));
    height: 80%;
    width: 90%;
    position: absolute;
    bottom: -15%;
    left: -5%;

}
#white #blue img{
    position: absolute;
    height: 120%;
    width: 70%;
    z-index: 10;
    bottom: 0;
    left: 7%;
}
#white #l{
    height: 60%;
    width: 40%;
    position: absolute;
    right: 2%;
    /* top: 2%; */
    opacity: 0.3;
}
#rightbtm{
    background-color: red;
    height: 40%;
    width: 35%;
    position: absolute;
    right: 3%;
    bottom: 8%;
    z-index: 5;
    animation: z 1s cubic-bezier(0.19, 1, 0.22, 1) 2.5s 1  both;
}
@keyframes z{
    0%{
        bottom: -90%;
        right: 3%;
    }
    100%{
        bottom: 8%;
        right: 3%;
    }
}
#topb{
    height: 50%;
    width: 100%;
    background-color: skyblue;
    border: 2px solid darkblue;
    border-top: 1.5px solid darkblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
}
#btmb{
    height: 50%;
    width: 100%;
    background-color: skyblue;
}
#topb h2{
    margin-top: 10px;
    margin-left: 10px;
}
#btmb #text{
    padding-top: 20px;
    margin-left: 20px;
}
#text h6{
    margin-bottom: 10px;
    font-size: 15px;
    
}
.move{
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    background-color: rgba(159, 218, 226, 0.945);
    animation: move 2.5s cubic-bezier(0.19, 1, 0.22, 1) 1 both;
    animation-delay: 1s;
    z-index: 7;
    
}
@keyframes move{
    0%{
        top: 13%;
        left: 0;
        height: 10%;
        opacity: 0;
    }
    50%{
        top: 13%;
        left: 40%;
        height: 10%;
        width: 250px;
        opacity: 2;
        
    }
    75%{
        /* transform: rotatety(180deg); */
        height: 40%;
        width: 250px;
        top: 30%;
        left: 40%;
        transform: scale(2);
        opacity: 2;
            
    }
   
    100%{
        top: 30%;
        left: 120%;
        opacity: 0.5;
        /* height: 50%; */
        /* transform: rotate(90deg); */
    }
}